.note
{
    color: black;
    font-size: 12px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

.header
{
    width: 100%;
    color: white;
    margin-top: 0;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
}

canvas
{
    margin-top: 130px;
    box-shadow: 10px 10px 10px grey;
    border-radius: 25px;
}

h3
{
    color: rgb(205, 177, 234);
    font-family: 'Poppins', sans-serif;
}

h2
{
    font-family: 'Poppins', sans-serif;
    color: white;
}